<%= simple_form_for(@componente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre, :required => true  %>
    <%= f.input :descripcion %>
    <%= f.association :seccione, :required => true  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: "btn btn-success" %>
    <%= link_to 'Cancelar', componentes_path, class: "btn btn-danger"  %>
  </div>
<% end %>
