<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role,role]}) %>
    <%= f.submit 'Cambiar el Rol', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Remover Usuario", user_path(user), :data => { :confirm => "Estas seguro(a)?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
