<% if user_signed_in? %>
	<li>
		<li><%= link_to 'Edit account', edit_user_registration_path %></li>
	</li>
	<li class='divider'></li>
	<li>
		<li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
	</li>

<% else %>
	<li>
		<li><%= link_to 'Login', new_user_session_path %></li>
	</li>

	<li class='divider'></li>
	<li>
		<li><%= link_to 'Sign up', new_user_registration_path %></li>
	</li>
	
<% end %>
<% if user_signed_in? %>

	<li class='divider'></li>
	<li>
		<li><%= link_to 'Users', users_path %></li>
	</li>
<% end %>


<%# add navigation links to this file %>









